
 body {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0; 
    font-family: 'poppins', Arial, "Actror", 'Adamina';} 
/* nav bar */

.nav {display: flex;
   
    justify-content: flex-end;
    align-content: center;
  width: 100%;}

nav {color: white;}

li {display: inline-flex; 
align-content: center;
 padding: 30px;
 margin: 20px;}

.navp {
background-image: url("./images/moving\ 1.png");
     
    background-repeat: no-repeat;
     background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100vh;
   
  }

.login1 {background-color:  #FAFF00;
       border: none;
      font-size: 20px;
    padding-left: 15px;}

.login {background-color: black;
      color: #FAFF00;
      border: none;
    font-size: 20px;
    padding-left: 15px;}

    /*h1*/
h1 {color: #FAFF00;
 font-size: 30px;
margin-left: 90px;
margin-top: 10px;} 

  /* h2 */
h2 {color:lightgray;
 font-size: 30px;
 margin-left:90px;}

/* hustle */

.column { display: flex;
    font-size: 30px;
   text-align: left;}

.column >.cimg >img {width: 600px;
margin-top: 20px;} 

hr {background-color: rgb(253, 217, 54) , rgb(5, 4, 4) ;
width: 120px;
height: 5px;
float: left;

}
.btn {
 border-top-right-radius: 20px;
 
 background-color: black;
 border: none;
height: 70px;
 
}

.ctext {
  width: 600px;
  
margin-top: 20px;
  margin-left: 100px;
  }

.learn {
color: #FAFF00;
font-size: 20px; 
box-sizing: content-box;
}

/* our top movers */

.top {
    width: 1350px;
    height: 1000px;
    background-color: white;
    font-size: 50px;
    margin-top: 20px;
    padding-top: 20px;
    position: left ;
    
}


.top-movers{
background-color: #f3f0ed;
padding: 10vw;
font-family: 'Adamina', serif;
}



.top-movers .top-movers-header{
font-size: 4vw;
}

.images-sec {
position: relative;
display: flex;
justify-content: space-between;
margin-top: 10vw;
}


.two {
margin-top: 3vh;
}

.movers-images1 {
background-color: white;
width: 25vw;
border-radius: 3vh;
}   

.movers-images1 img{
width: 25vw;
height: auto;
}

.movers-images1 .image-caption{
font-size: 2vw;
padding: 1.5vw;
}

/* foooter section */
footer {
    width: 80%;
    max-height: 90vh;
    background-color: black;
    color: white;
    padding: 0 10vw;
    font-family: 'Actor', sans-serif;
  }
  .footer-header p{
    font-size: 3vw;
    padding: 6vw;
    border-botton: 1px solid #5c5b5a;
  }
  
  
  
  
  .footer-list {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  
  .footer-list ul{
    list-style: none;
  }
  
  .footer-list ul li{
    color: #887f7f;
    font-size: 1.2vw;
    padding-top: 1rem;
  }
